.Users-view {
    width: 100%;
    height: 100%;

    .Item-view-content {
        width: 100%;
        display: grid;
        grid-template-columns: 78% 22%;

        .dashboard-list-view-horizontal {
            .ticket-list-item {
                .info-content{
                    width: calc(100% - 200px);
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(3 ,1fr);
                    .elem-holder{
                        align-self: center;
                        justify-self: center;
                        font-size: 90%;
                        & h6{
                            font-weight: bold;
                        }
                    }
                }
                .action-element{
                    width: 120px;
                    height: 100%;
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .btn-action-holder{
                        width: 35px;
                        padding: 5px;
                        height: 35px;
                    }
                }
                &:hover {
                    background-color: #eaeaea;
                }


            }

        }
        .user-content-holder{
            width: 96%;
            margin: auto;
            margin-top: 20px;
            height: 400px;
            grid-column: 1 / span 2;
            display: flex;
            flex-direction: row;
            box-shadow: 0 0 6px grey;
            border-radius: 8px;

            .main-panel{
                width: 70%;
                height: 100%;
                display: flex;
                .acc-img{
                    width: 30%;
                    padding-top: 20px;
                    height: 100%;
                    .icon-holder{
                        width: 200px;
                        height: 200px;
                        background-color: #BCEBE4;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p{
                            font-size: 8em;
                            font-weight: bold;
                            text-align: center;
                            font-family: sans-serif;
                            color: #5b5b5b;
                        }
                    }
                }
                .acc-details{
                    width: 70%;
                    height: 100%;
                    padding: 20px;
                    .form-group{
                        display: flex;
                        margin-bottom: 20px;
                        label{
                            width: 150px;
                            height: 40px;
                            display: inline-block;
                            line-height: 40px;
                        }
                        input{
                            width: 300px;
                            border-radius: 5px;
                        }
                    }

                    .button-display{
                        width: 100%;
                        height: 100px;
                        display: flex;
                        padding-right: 10px;
                        align-items: center;
                        justify-content: flex-end;
                        button{
                            height: 34px;
                            width: 150px;
                            background-color: #37eab8;
                            color: white;
                            font-weight: bolder;
                        }
                    }
                }

            }
            .sub-panel{
                width: 30%;
                height: 100%;
                background-color: #d6d6d6;
                padding: 10px;
                border-left: 1px solid #aeaeae;
                h4{
                    font-size: 1.3em;
                    color: #606060;
                    font-weight: bolder;
                }
                .form-group{
                    label{
                        display: block;
                    }
                    input{
                        width: 250px;
                    }
                }

                button{
                    margin-top: 20px;
                    width: 200px;
                    height: 34px;
                    background-color: #474747;
                    color: white;
                    &:hover{
                        background-color: lighten(#474747,30%);
                    }
                }
            }
        }
    }
}
